
 html{
   width: 100%;
   height: 100%;
   overflow-y: scroll;   
}
body{
   border-radius: 10em;
   background: url(../imagenes/img1.jpg) ;
   font-family: 'Courier New', Courier, monospace;
   border-bottom-width: 0.2em;
   height: 50;
   left: 50;   
}
.titulo{
   color:0C4B6F;
   font-weight: normal;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
}
h1 {
   color:F9EC1E;
   font-weight: normal;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
}
.uno img  {
   width :1200px ;
   height:300px;
   border-radius: 10px;   
}
.uno {
   font-family: fantasy;    
   text-align: center;
   font-size: 24px;
}
.uno input{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   border-bottom: rgb(155, 10, 10);
   border-radius: 12em;   
   border-bottom: 1px solid black;
   box-shadow:inset 0 1px 0 rgba(192, 19, 19, 0.5);
   font-size:90%;
}
.md{  
   background-image: url(../imagenes/img2.jpg);
   height: 70px;
   width: 70px;
   text-align: center;
   color: 0C4B6F;
} 
.txt{
   background-image: url(../imagenes/img4.jpg); 
   height: 40px;
   width: 500px;
   color: antiquewhite;
   text-align: center;
   font-size: 28px;
 } 
img{   
   width :200px ;
   height:200px;
   border-radius: 10px;  
}
.contenedor2{   
   text-align: center;
   margin: 50px auto;
   width :1200px ;
   height:900px;
   padding:20px;
   background: url(../imagenes/img3.jpg) ;
   overflow: auto;
   border-radius: 4px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: aliceblue;
}
.dat 
{
   width: 100%;      
}
.dat th,td{
   width: 15%;    
   text-align: center;
   font-size: 24px;
   color:F9EC1E;
}
p{
   margin-bottom: 20px;
   line-height: 28px;
   font-size: 16 px;
   color: honeydew;
}
h3{
   font-size: 20px;
   color:rgb(248, 246, 246);
}
h2{
   text-align: center;
   font-family:fantasy;
   font-size: 40px;
   color: rgb(202, 202, 226);
}
.tres {
   font-family: fantasy;    
   text-align: center;
   font-size: 24px;
}
.cuatro {
   font-family: fantasy;    
   text-align: center;
   font-size: 30px;  
}
.cuatro input{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   border-bottom: rgb(2, 2, 80);
   border-radius: 18em;
   width: 60px;
   height: 60px;
   border-bottom: 5px solid rgb(14, 14, 190);
   box-shadow:inset 0 1px 0 rgba(175, 11, 11, 0.5);
   font-size:90%;
}
a:-webkit-any-link{
   text-decoration: none;
   color:F9EC1E;
}
